.residentInfoContainer {
    display: flex;
    border: 2px solid #fff;
    justify-content: space-between;
    margin: 1rem;
    width: 45%;
    height: 25%;
    border-radius: 10px;
    box-sizing: border-box;
    background-color: #323F50;
}

.residentInfoImg {
    width: 50%;
}

.residentInfoImg img{
    width: 100%;
    height: auto;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  @supports(object-fit: cover){
      .residentInfoImg img{
        height: 100%;
        object-fit: cover;
        object-position: center center;
      }
  }

.residentInfoContent {
    display: flex;
    flex-direction: column;
    text-align: start;
    justify-content: space-evenly;
    width: 50%;
    padding: 1rem;
    
}

.residentInfoContent p {
    padding: 0;
    margin: 0;
    font-size: 1.2rem;
}